<!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('../../layout/head') %>
    </head>
  <body class="detail">
    <%- include('../../layout/header') %>
    <%- include('detail', {book: book}) %>
    <a class="navHome" href="/">Navigate Home</a>
  </body>
