<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <p id="error">Sorry, but something has gone a mess in the kitchen!</p>
  </body>
</html>