<!DOCTYPE html>
<html>
  <head>
    <h1>Hello bishes</h1>
    <link href="../../public/styles/base.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <p>Just kidding... bish</p>
  </body>
</html>