main {
  width: 65vw;
  height: 100%;
  margin: 50px auto;
}

header {
  position: strict;
  line-height: 50px;
  height: 50px;
  width: 100%;
  background-color: black;
}

legend, h1 {
  background-color: rgb(105,105,105);
}

#searchResults {
  margin-top: 25px;
  width: 64%;
  font-size: 28px; 
  font-weight: bolder;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

#newSearch {
  width: 65%;
}

.flex-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

#searchContain {
  margin-left: -50px;
  width: 80%;
}

.radio {
  display: block;
  margin-left: 22px;
}

#outerSec {
  background-color: rgb(33, 170, 125);
}