/* Form */
legend, h1 {
  margin: 20px auto;
}

#search {
  width: 100%;
}

label {
  width: 100%;
  margin: 20px;
  padding: 5px;
}
.radio, .button {
  margin-top: 35px;
  width: 100%;
  border: 1.5px solid black;
  text-align: left;
}

/* Update Form */
#updateForm {
  border: 6px dashed rgb(16, 37, 77);
}

#saveButton {
  background-color: rgb(27, 62, 128);
}

#saveButton:hover {
  background-color: rgb(16, 36, 73);
}

#navHomeButt {
  padding: 10px;
}

#delButt {
  margin-bottom: 30px;
}

.edit {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 25px;
  margin-top: 12px;
  border: 3px solid rgb(27, 62, 128);
}

.edit:focus {
  background-color: rgb(211, 209, 209);
}

.editDes {
  display: block;
  margin: 0 auto;
  width: 60%;
  overflow: auto;
  margin-top: 12px;
  border: 3px solid rgb(27, 62, 128);
} 

.editDes:focus {
  background-color: rgb(211, 209, 209);
}

/* Buttons */
button {
  height: 2em;
  margin: 20px auto;
  background: darkslategray;
  color: white;
  border: 0;
  width: 100%;
}

button:hover {
  transform: scale(1.005);
  background: rgb(5, 44, 44);
}

.navHome {
  font-size: xx-large;
  color:  rgb(5, 44, 44);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navHome:hover {
  color: rgb(30, 161, 161);
}

/* Book Section */
section, legend {
  margin: 35px auto;
  border: 5px solid rgb(31, 32, 32);
  padding: 10px;
  font-size: 28px; 
  font-weight: bolder;
  font-family: 'Source Sans Pro', sans-serif;
}

section {
  margin-top: -15px;
}

h2 {
  font-size: 1.3em;
  font-weight: bolder;
  padding: 10px;
  color: rgb(15, 175, 175);
}

section, legend {
  background: rgb(211, 207, 207);
}

p {
  padding: 10px;
  font-size: .85em;
  letter-spacing: .02em;
}

img {
  margin: 8px;
}

#textBox {
  background-color: rgb(184, 181, 181);
  margin: 15px auto;
}

/* error */
#error {
  font-size: xx-large;
}

/* menu */
.dropdownHead * {
  padding: 0;
  margin: 0;
}
.dropdownHead {
  display: flex;
  align-items: center;
  background: rgb(3, 7, 8);
}

.dropdownHead strong {
  margin-left: 5px;
  margin-right: auto;
  font-size: 1.6rem;
}

.dropdownCat .dropdownHead .dropdownMen {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownHead li {
  padding: 10px;
  position: relative;
}

.dropdownHead li:hover {
  background: rgb(1, 43, 22)
}

.dropdownHead .dropdownCat .dropdownMen {
  display: none;
  position: absolute;
  background: black;
  width: 250px;
  top: 50px;
  right: 0;
}

.dropdownHead .dropdownCat:hover .dropdownMen {
  display: block;
}

.head {
  text-decoration: none;
  color: rgb(33, 170, 125);
  margin: 10px;
}

#menuTop {
  margin-right: 24px;
}

li {
  text-decoration: none;
}
