/* Form */
legend, h1 {
  margin: 20px auto;
}

#search {
  width: 100%;
}

label {
  width: 100%;
  margin: 20px;
  padding: 5px;
}
.radio, .button {
  margin-top: 35px;
  width: 100%;
  border: 1.5px solid black;
  text-align: left;
}

/* Button */
button {
  height: 2em;
  margin: 20px auto;
  background: darkslategray;
  color: white;
  border: 0;
  width: 100%;
}

button:hover {
  transform: scale(1.1);
  background: rgb(5, 44, 44);
}

/* Book Section */
section, legend {
  margin: 35px auto;
  border: 4px solid rgb(72, 73, 73);
  padding: 10px;
  font-size: 24px; 
}

section {
  margin-top: -15px;
}

h2 {
  font-size: 1.3em;
  font-weight: bolder;
  padding: 10px;
  color: rgb(15, 175, 175);
}

section, legend {
  background: rgb(211, 207, 207);
}

p {
  padding: 10px;
  font-size: .85em;
  letter-spacing: .02em;
}

img {
  margin: 8px;
}